<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %> 
<body>
    <%- include('../partials/headers') %> 
 
   <div class="container-category">

    <form action="/category/create" method="post">
      <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" name="name">
      <small class="text-error errorSubmit" id="errorEmail"></small>
      <% if (locals.errors && errors.name) { %>
      <small id="errorName" class="text-error"><%= errors.name.msg %></small>
      <% } %>    </div>

    <div class="form-group">
        <label for="nombre">Descripcion</label>
        <input type="text" name="description">
        <% if (locals.errors && errors.description) { %>
          <small id="errorDescription" class="text-error"><%= errors.description.msg %></small>
          <% } %>

      </div>
        <div class = "button">
       <button type="submit" class="btn-sucess"> crear</button>
    </div>


    </form>



   </div>

</body>
</html>