<div class="contenedor-headers">

<div class="left">
    <ul>
     <li><a href="#nosotros"> sobre nosotros</a></li>
     <li><a href="#proyectos">proyectos</a></li>     
    </ul>

</div>
<div class="center">

    <img src="/images/image-logo.jpg" class ="img-logo"alt="">


</div>
<div class="rigth">
    <ul >
        <li><a href="/users/login">login</a></li>
        <li></li>

    
    
    
    </ul>
</div>
</div>