<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %> 

<body>
    <%- include('../partials/headers') %> 
<div class="container-body">
   <div class="container-login">
     <form action="/users/login" id="form" method="post">
     <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" id="email"class="data">
        <small class="text-error errorSubmit" id="errorEmail"></small>
        <% if (locals.errors && errors.email) { %>
        <small id="errorEmail" class="text-error"><%= errors.email.msg %></small>
        <% } %>
     </div>
     <div class="form-group">
        <label for="password">clave</label>
        <input type="password" name="password" id="password"class="data">
        <small class="text-error errorSubmit" id="errorPassword"></small>
        <% if (locals.errors && errors.password) { %>
        <small id="errorPassword" class="text-error"><%= errors.password.msg %></small>
        <% } %>
     </div>
   
    
       <div class="button">
        <input type="submit"  class="btn-button"value="enviar">

       </div>
    </div>

     </form>
   </div>
</body>
</html>